.container { width: 24px }
body 
{
    background: #52525200;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
    background-image: url(img/music-guitar-main.jpg);
}
#PopularG h1
{
    display: block;
    text-align: center;
    padding-top: 300px;
}
#GoIntoGuitarPlayerToMain 
{
    background: #ffffff00;
    position: absolute;
    top: 300px;
    left: 692px;
}
#PopularGuitaristsList
{
    display: block;
    text-align: center;
    padding-top: 600px;
}
#autors9
{
    display: block;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 100px;
}
.buttonGuitarPlayer {
    position: absolute;
    display: inline-block;
    height: 84px;
    width: 314px;
    background: url(img/button_dark_537_1.jpg) 0 0 no-repeat;
    transition: background 0.3s ease;
    left: 537px;
    top: 0px;
}

.buttonGuitarPlayer:hover {
    background-image: url(img/button_dark_537.jpg);
}

.buttonViduguitar {
    position: absolute;
    display: inline-block;
    height: 84px;
    width: 314px;
    background: url(img/button_dark_851.jpg) 0 0 no-repeat;
    transition: background 0.3s ease;
    left: 851px;
    top: 0px;
}

.buttonViduguitar:hover {
    background-image: url(img/button_dark_851_1.jpg);
}

.buttonTop1000Cheeze {
    position: absolute;
    display: inline-block;
    height: 84px;
    width: 169px;
    background: url(img/button_dark_1089.jpg) 0 0 no-repeat;
    transition: background 0.3s ease;
    left: 1089px;
    top: 0px;
}

.buttonTop1000Cheeze:hover {
    background-image: url(img/button_dark_1089_1.jpg);
}

.buttonGOtomain {
    position: absolute;
    display: inline-block;
    height: 84px;
    width: 169px;
    background: url(img/button_dark_main.jpg) 0 0 no-repeat;
    transition: background 0.3s ease;
    left: 0px;
    top: 0px;
}

.buttonGOtomain:hover {
    background-image: url(img/button_dark_main_1.jpg);
}