@media (min-width: 320x) and (max-width: 1920px)
.container { width: 1920px }
body {
max-width: 1920x;
background: #808080;
color: #000000;
font-family: Trebuchet MS, Arial, Times New Roman;
font-size: 1920px;
}
#wrapper {
      background: #FFFFFF;
      margin: 60px auto;
      width: 1920px;
      height: 1080px;
      }
#header {

      }
      image {
      position	: relative;
      width		: 100%;
      }
      h1 {
      position	: absolute;
      top		: 200px;
      left		: 10%;
      width		: 100%;
      }
#navigation {
  background: #2a2a2a2a;
  width: 700px;
  height: 40px;
  background-image: url(img/ooo.gif);
  background-size: 1000px 19px;
      }
#menu {

      }
#content {
  background: #808080;
  color: #720000;
  font-family: Trebuchet MS, Arial, Times New Roman;
  width:1920px;
  font-size: 20px;
      }
      h3 { text-align: center }
      h4 { text-align: center }
.image-center {
  display:block;
  margin: auto;
}
#footer {

      }
.topic { font size="12" color="#720000" face="serif"; }
